test/xsd/create_payroll_employee.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Employee">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="EmployeeID" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="FirstName" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="LastName" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="DateOfBirth" minOccurs="0" maxOccurs="1" type="xs:date" />
      <xs:element name="Email" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="Gender" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="BankAccounts" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="MiddleNames" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="HomeAddress">
          <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="AddressLine1" type="xs:string" />
                <xs:element minOccurs="0" name="City" type="xs:string" />
                <xs:element minOccurs="0" name="Region" type="xs:string" />
                <xs:element minOccurs="0" name="PostalCode" type="xs:unsignedShort" />
              </xs:sequence>
          </xs:complexType>
        </xs:element>
    </xs:sequence>
    <xs:attribute name="date_of_birth" type="xs:date" use="optional" />
  </xs:complexType>
  </xs:element>
</xs:schema>
