test/xsd/create_payroll_leave_application.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LeaveApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EmployeeID" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="LeaveTypeID" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="LeaveTypeID" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="DateOfBirth" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="Title" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="Description" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="StartDate" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="EndDate" minOccurs="0" maxOccurs="1" type="xs:string" />
        <xs:element name="LeavePeriods">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LeavePeriod">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="PayPeriodStartDate" type="xs:string" />
                    <xs:element minOccurs="0" name="PayPeriodEndDate" type="xs:string" />
                    <xs:element minOccurs="0" name="LeavePeriodStatus" type="xs:string" />
                    <xs:element minOccurs="0" name="NumberOfUnits" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>