test/xsd/create_contact.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Contact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContactID" type="xs:string" />
        <xs:element minOccurs="0" name="ContactNumber" type="xs:string" />
        <xs:element name="Name" type="xs:string" />
        <xs:element minOccurs="0" name="ContactStatus" type="xs:string" />
        <xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
        <xs:element minOccurs="0" name="SkypeUserName" type="xs:string" />
        <xs:element minOccurs="0" name="BankAccountDetails" type="xs:string" />
        <xs:element minOccurs="0" name="TaxNumber" type="xs:string" />
        <xs:element minOccurs="0" name="AccountsRecievableTaxType" type="xs:string" />
        <xs:element minOccurs="0" name="AccountsPayableTaxType" type="xs:string" />
        <xs:element minOccurs="0" name="FirstName" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" type="xs:string" />
        <xs:element minOccurs="0" name="DefaultCurrency" type="xs:string" />
        <xs:element name="Addresses">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AddressType" type="xs:string" />
                    <xs:element minOccurs="0" name="AddressLine1" type="xs:string" />
                    <xs:element minOccurs="0" name="AddressLine2" type="xs:string" />
                    <xs:element minOccurs="0" name="AddressLine3" type="xs:string" />
                    <xs:element minOccurs="0" name="AddressLine4" type="xs:string" />
                    <xs:element minOccurs="0" name="City" type="xs:string" />
                    <xs:element minOccurs="0" name="Region" type="xs:string" />
                    <xs:element minOccurs="0" name="PostalCode" type="xs:unsignedShort" />
                    <xs:element minOccurs="0" name="Country" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Phones">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Phone">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PhoneType" type="xs:string" />
                    <xs:element minOccurs="0" name="PhoneNumber" type="xs:unsignedInt" />
                    <xs:element minOccurs="0" name="PhoneAreaCode" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="PhoneCountryCode" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>